.one{
    font-family: inter,helvetica neue,helvetica,arial,sans-serif;
    font-size: 3.75rem;
}
.one span{
    color: rgb(169 121 43);
}

.title{
    margin-left: 200px;
}
.oFd{
    margin-left: 540px;
}